# Main

Goal Log format:
* user_id (LISTO)
* course_name (LISTO)
* course_characteristics (course_weeks, total_lectures, total_supplement, total_quiz, total_exam, total_phased_peer, course_passable_items) (LISTO)
* course_passing_state (listo)
* course_passed_items (phased and exams) (listo)
* course_grade (listo)
* percentage_passed_items (course_passed_items / course_passable_items) (listo)

* lectures_completed ()
* lectures_started
* lectures_no_interacted
* lectures_interacted (completed + started)
* %_lectures_completed (lectures_completed / total_lectures)
* %_lectures_started (lectures_started / total_lectures)
* %_lectures_no_interacted (lectures_no_interacted / total_lectures)
* %_lectures_interacted (lectures_interacted / total_lectures)

* supplements_completed (listo)
* supplements_started (listo)
* supplements_no_interacted (listo)
* supplements_interacted (completed + started) (listo)
* %_supplements_completed (supplements_completed / total_supplement) (listo)
* %_supplements_started (supplements_started / total_supplement) (listo)
* %_supplent_no_interacted (listo)
* %_supplements_interacted (supplements_interacted / total_supplement) (listo)

* quiz_grades (mean of all quizes)
* quizes_interacted (have a grade)
* %_quizes_interacted (quizes_interacted / total_quiz)

* exams_grades (mean of all exams)
* exams_interacted (have a grade)
* %_exams_interacted (exams_interacted / total_exam)

* phased_peer_grades (mean of all)
* phased_peer_interacted (have a grade)
* %_phased_peer_interacted (phased_peer_interacted / total_phased_peer)

* CUESTIONARIOS
* in_nmp (0: False, 1: True)
* nmp_user_id
* nmp_total_notes
* nmp_total_goals
* nmp_total_interactions

## Import Packages

In [7]:
# data analysis and wrangling
import pandas as pd
import numpy as np

# visualization
%matplotlib inline
import matplotlib.pyplot as plt

# wrangling os
import os

#date
from datetime import datetime

## Load Data

In [8]:
# Selecting course name
'''
   - gestion-organizaciones-efectivas / 7
   - camino-excelencia-gestion-proyectos / 5
   - gestion-empresarial-pyme / 5
   - aprendiendo-programar-python / 6
   - electrones-en-accion / 4
   - web-semantica / 7
   - aula-constructivista / 10
'''

course_name = 'aula-constructivista'
number_weeks = 10

In [9]:
df = pd.read_csv('../data/super_log/' + course_name + '/coursera.csv', index_col='ucchile_user_id')
df_surveys_id = pd.read_csv('../data/surveys/' + course_name + '/users_id_lms.csv')
df_surveys = pd.read_csv('../data/surveys/' + course_name + '/NoteMyProgress_SRL.csv')

## NMP ##
# Users
df_users = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/users.csv', index_col='user_id')

# Notes
df_notes = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/notes_by_user.csv', index_col='user_id')

# Goals
df_goals = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/goals_by_user.csv', index_col='user_id')

# Interactions
df_interactions = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/interactions.csv', index_col='user_id')

# Buttons
df_buttons = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/buttons_by_users.csv', index_col='user_id')

# Graph
df_graphs = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/graphs_by_users.csv', index_col='user_id')

# Menus
df_menus = pd.read_csv('../data/NMP/cooked_data_by_course/' + course_name + '/menus_by_users.csv', index_col='user_id')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (113,115,117,119,137,139,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Important Functions

In [10]:
def get_columns(columns, string):
    output = []
    for col in list(columns):
        if string in col:
            output.append(col)
    return output

In [11]:
def get_columns_no_ts(columns, string):
    output = []
    for col in list(columns):
        if string in col and 'ts' not in col:
            output.append(col)
    return output

## Main

In [12]:
# Course Metadata
metadata = {'course_name': course_name, 
            'course_total_weeks': number_weeks, 
            'total_lectures': int(len(get_columns(df.columns, 'lecture'))/2), 
            'total_supplements': int(len(get_columns(df.columns, 'supplement'))/2), 
            'total_quiz': int(len(get_columns(df.columns, 'quiz'))/2), 
            'total_exam': int(len(get_columns(df.columns, 'exam'))/2), 
            'total_phased_peer': int(len(get_columns(df.columns, 'phased_peer'))/2)}

In [13]:
# Adding Course Charactetistics
df['course_name'] = metadata['course_name']
df['course_weeks'] = metadata['course_total_weeks']
df['passable_items'] = metadata['total_exam'] + metadata['total_phased_peer']

In [14]:
# Rename Columns
df.rename(columns={'course_passing_state_id': 'course_passing_state', 
                   'course_grade_verified_passed_items': 'course_passed_items', 
                   'course_grade_verified': 'course_grade'}, 
         inplace=True)

In [15]:
# Adding percentage_passed_items
df['percentage_passed_items'] = df['course_passed_items'] / df['passable_items']

In [16]:
'''
Getting: 
* lectures_completed
* lectures_started
* lectures_no_interacted
* lectures_interacted (completed + started)
* %_lectures_completed (lectures_completed / total_lectures)
* %_lectures_started (lectures_started / total_lectures)
* %_lectures_no_interacted (lectures_no_interacted / total_lectures)
* %_lectures_interacted (lectures_interacted / total_lectures)
'''
df_lectures = pd.DataFrame(index=df.index, columns=['lectures_completed', 'lectures_started', 'lectures_no_interacted'])

aux = df[get_columns_no_ts(df.columns, 'lecture')]
aux.fillna(0, inplace=True)

for index, row in aux.iterrows():
    df_lectures.at[index, 'lectures_completed'] = list(row.values).count(2)
    df_lectures.at[index, 'lectures_started'] = list(row.values).count(1)
    df_lectures.at[index, 'lectures_no_interacted'] = list(row.values).count(0)
    
df_lectures['lectures_interacted'] = df_lectures['lectures_completed'] + df_lectures['lectures_started']

df_lectures['total_lectures'] = metadata['total_lectures']

df_lectures['percentage_lectures_completed'] = df_lectures['lectures_completed'] / df_lectures['total_lectures']
df_lectures['percentage_lectures_started'] = df_lectures['lectures_started'] / df_lectures['total_lectures']
df_lectures['percentage_lectures_no_interacted'] = df_lectures['lectures_no_interacted'] / df_lectures['total_lectures']
df_lectures['percentage_lectures_interacted'] = df_lectures['lectures_interacted'] / df_lectures['total_lectures']

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [17]:
df_lectures.head(2)

,lectures_completed,lectures_started,lectures_no_interacted,lectures_interacted,total_lectures,percentage_lectures_completed,percentage_lectures_started,percentage_lectures_no_interacted,percentage_lectures_interacted
ucchile_user_id,,,,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,4,6,43,10,53,0.0754717,0.113208,0.811321,0.188679
04b08e572b73bbb4cd1af664191794ed09283a93,5,3,45,8,53,0.0943396,0.0566038,0.849057,0.150943

In [18]:
'''
Getting:
* supplements_completed
* supplements_started
* supplements_no_interacted
* supplements_interacted (completed + started)
* %_supplements_completed (supplements_completed / total_supplement)
* %_supplements_started (supplements_started / total_supplement)
* %_supplee
* %_supplements_interacted (supplements_interacted / total_supplement)
'''
df_supplements = pd.DataFrame(index=df.index, columns=['supplements_completed', 'supplements_started', 'supplements_no_interacted'])

aux = df[get_columns_no_ts(df.columns, 'supplement')]
aux.fillna(0, inplace=True)

for index, row in aux.iterrows():
    df_supplements.at[index, 'supplements_completed'] = list(row.values).count(2)
    df_supplements.at[index, 'supplements_started'] = list(row.values).count(1)
    df_supplements.at[index, 'supplements_no_interacted'] = list(row.values).count(0)
    
df_supplements['supplements_interacted'] = df_supplements['supplements_completed'] + df_supplements['supplements_started']

df_supplements['total_supplements'] = metadata['total_supplements']

if metadata['total_supplements']:
    df_supplements['percentage_supplements_completed'] = df_supplements['supplements_completed'] / df_supplements['total_supplements']
    df_supplements['percentage_supplements_started'] = df_supplements['supplements_started'] / df_supplements['total_supplements']
    df_supplements['percentage_supplements_no_interacted'] = df_supplements['supplements_no_interacted'] / df_supplements['total_supplements']
    df_supplements['percentage_supplements_interacted'] = df_supplements['supplements_interacted'] / df_supplements['total_supplements']
    
else:   
    df_supplements['percentage_supplements_completed'] = 0
    df_supplements['percentage_supplements_started'] = 0
    df_supplements['percentage_supplements_no_interacted'] = 0
    df_supplements['percentage_supplements_interacted'] = 0

In [19]:
df_supplements.head(2)

,supplements_completed,supplements_started,supplements_no_interacted,supplements_interacted,total_supplements,percentage_supplements_completed,percentage_supplements_started,percentage_supplements_no_interacted,percentage_supplements_interacted
ucchile_user_id,,,,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,0,0,5,0,5,0,0,1,0
04b08e572b73bbb4cd1af664191794ed09283a93,1,0,4,1,5,0.2,0,0.8,0.2

In [20]:
'''
Getting:
* exams_grade (mean of all exams)
* exams_interacted (have a grade)
* exams_no_interacted 
* %_exams_interacted (exams_interacted / total_exam)
'''

df_exams = pd.DataFrame(index=df.index, columns=['exams_grade', 'exams_interacted', 'exams_no_interacted'])

aux = df[get_columns_no_ts(df.columns, 'exam')]
aux.fillna('NOT', inplace=True)

for index, row in aux.iterrows():
    df_exams.at[index, 'exams_no_interacted'] = list(row.values).count('NOT')
    
    interacted = [x for x in row.values if x != 'NOT']
    
    if len(interacted):
        df_exams.at[index, 'exams_interacted'] = len(interacted)
        df_exams.at[index, 'exams_grade'] = sum(interacted) / len(interacted)
        
    else: # No interacted
        df_exams.at[index, 'exams_interacted'] = 0
        df_exams.at[index, 'exams_grade'] = 0

df_exams['total_exams'] = metadata['total_exam']
df_exams['percentage_exams_interacted'] = df_exams['exams_interacted'] / df_exams['total_exams']
df_exams['percentage_exams_no_interacted'] = df_exams['exams_no_interacted'] / df_exams['total_exams']

In [21]:
df_exams.head(2)

,exams_grade,exams_interacted,exams_no_interacted,total_exams,percentage_exams_interacted,percentage_exams_no_interacted
ucchile_user_id,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,0,1,7,8,0.125,0.875
04b08e572b73bbb4cd1af664191794ed09283a93,0.833333,1,7,8,0.125,0.875

In [22]:
'''
Getting:
* quiz_grade (mean of all quiz)
* quiz_interacted (have a grade)
* quiz_no_interacted 
* %_quiz_interacted (quiz_interacted / total_quiz)
'''

df_quiz = pd.DataFrame(index=df.index, columns=['quiz_grade', 'quiz_interacted', 'quiz_no_interacted'])

aux = df[get_columns_no_ts(df.columns, 'quiz')]
aux.fillna('NOT', inplace=True)

for index, row in aux.iterrows():
    df_quiz.at[index, 'quiz_no_interacted'] = list(row.values).count('NOT')
    
    interacted = [x for x in row.values if x != 'NOT']

    if len(interacted):
        df_quiz.at[index, 'quiz_interacted'] = len(interacted)
        df_quiz.at[index, 'quiz_grade'] = sum(interacted) / len(interacted)
        
    else: # No interacted
        df_quiz.at[index, 'quiz_interacted'] = 0
        df_quiz.at[index, 'quiz_grade'] = 0

df_quiz['total_quiz'] = metadata['total_quiz']

if metadata['total_quiz']:
    df_quiz['percentage_quiz_interacted'] = df_quiz['quiz_interacted'] / df_quiz['total_quiz']
    df_quiz['percentage_quiz_no_interacted'] = df_quiz['quiz_no_interacted'] / df_quiz['total_quiz']
    
else:
    df_quiz['percentage_quiz_interacted'] = 0
    df_quiz['percentage_quiz_no_interacted'] = 0

In [23]:
df_quiz.head(2)

,quiz_grade,quiz_interacted,quiz_no_interacted,total_quiz,percentage_quiz_interacted,percentage_quiz_no_interacted
ucchile_user_id,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,0,0,0,0,0,0
04b08e572b73bbb4cd1af664191794ed09283a93,0,0,0,0,0,0

In [24]:
'''
Getting:
* phased_peer_grade (mean of all phased_peer)
* phased_peer_interacted (have a grade)
* phased_peer_no_interacted 
* %_phased_peer_interacted (phased_peer_interacted / total_phased_peer)
'''

df_phased_peer = pd.DataFrame(index=df.index, columns=['phased_peer_grade', 'phased_peer_interacted', 'phased_peer_no_interacted'])

aux = df[get_columns_no_ts(df.columns, 'phased_peer')]
aux.fillna('NOT', inplace=True)

for index, row in aux.iterrows():
    df_phased_peer.at[index, 'phased_peer_no_interacted'] = list(row.values).count('NOT')
    
    interacted = [x for x in row.values if x != 'NOT']

    if len(interacted):
        df_phased_peer.at[index, 'phased_peer_interacted'] = len(interacted)
        df_phased_peer.at[index, 'phased_peer_grade'] = sum(interacted) / len(interacted)
        
    else: # No interacted
        df_phased_peer.at[index, 'phased_peer_interacted'] = 0
        df_phased_peer.at[index, 'phased_peer_grade'] = 0

df_phased_peer['total_phased_peer'] = metadata['total_phased_peer']

if metadata['total_phased_peer']:
    df_phased_peer['percentage_phased_peer_interacted'] = df_phased_peer['phased_peer_interacted'] / df_phased_peer['total_phased_peer']
    df_phased_peer['percentage_phased_peer_no_interacted'] = df_phased_peer['phased_peer_no_interacted'] / df_phased_peer['total_phased_peer']
else:
    df_phased_peer['percentage_phased_peer_interacted'] = 0
    df_phased_peer['percentage_phased_peer_no_interacted'] = 0

In [25]:
df_phased_peer.head(2)

,phased_peer_grade,phased_peer_interacted,phased_peer_no_interacted,total_phased_peer,percentage_phased_peer_interacted,percentage_phased_peer_no_interacted
ucchile_user_id,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,0,0,0,3,0,0
04b08e572b73bbb4cd1af664191794ed09283a93,0,0,0,3,0,0

## Creating Final Log

In [26]:
# Selecting Cols
cols = ['course_name', 'course_weeks', 'passable_items', 'course_passing_state', 'course_passed_items', 'course_grade', 'percentage_passed_items']
df_final = df[cols]

In [27]:
df_final.head(2)

,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items
ucchile_user_id,,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10,11,0.0,0.0,0.000000,0.000000
04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10,11,0.0,1.0,0.062563,0.090909

In [28]:
# Adding Lectures info
df_final = df_final.merge(df_lectures, left_on='ucchile_user_id', right_on='ucchile_user_id', how='outer', copy=False)

# Adding Supplements info
df_final = df_final.merge(df_supplements, left_on='ucchile_user_id', right_on='ucchile_user_id', how='outer', copy=False)

# Adding Exams info
df_final = df_final.merge(df_exams, left_on='ucchile_user_id', right_on='ucchile_user_id', how='outer', copy=False)

# Adding Quiz info
df_final = df_final.merge(df_quiz, left_on='ucchile_user_id', right_on='ucchile_user_id', how='outer', copy=False)

# Adding Phased_peer info
df_final = df_final.merge(df_phased_peer, left_on='ucchile_user_id', right_on='ucchile_user_id', how='outer', copy=False)

In [29]:
df_final.head(2)

,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,lectures_no_interacted,...,quiz_no_interacted,total_quiz,percentage_quiz_interacted,percentage_quiz_no_interacted,phased_peer_grade,phased_peer_interacted,phased_peer_no_interacted,total_phased_peer,percentage_phased_peer_interacted,percentage_phased_peer_no_interacted
ucchile_user_id,,,,,,,,,,,,,,,,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10,11,0.0,0.0,0.000000,0.000000,4,6,43,...,0,0,0,0,0,0,0,3,0,0
04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10,11,0.0,1.0,0.062563,0.090909,5,3,45,...,0,0,0,0,0,0,0,3,0,0

### Adding Surveys Info

In [30]:
# Dropping unnecesary columns
cols_drop = ['respondent_id', 
             'collector_id', 
             'date_created', 
             'date_modified', 
             'ip_address', 
             'email_address', 
             'first_name', 
             'last_name', 
             'custom_1'] 
df_surveys.drop(columns=cols_drop, inplace=True)

# Dropping first row
df_surveys.drop(0, inplace=True)

In [31]:
# Delete email question:
for col in df_surveys.columns:
    if 'e-mail' in col:
        df_surveys.drop(columns= col, inplace=True)

In [32]:
df_surveys.set_index('user_id', inplace=True)

In [33]:
# Renaming Columns
# Creatin Dic
dic = {}
for index, col in enumerate(list(df_surveys.columns)):
        dic[col] = 'Q' + str(index + 1)


df_surveys.rename(columns=dic, inplace=True)

In [34]:
# Adding the correct id
df_surveys = df_surveys.merge(df_surveys_id, left_index=True, right_on='user_id_review', how='outer', copy=False).drop(columns=['user_id_review', 'user_email', 'user_ip'])

In [35]:
# Replacing values
vals_to_replace = {'Muy cierto para mí': '5', 
                   'Bastante cierto para mí': '4', 
                   'Algo cierto para mí': '3', 
                   'Poco cierto para mí': '2', 
                   'Nada cierto para mí': '1', 
                   'Mi intención es completar todos los contenidos': '6', 
                   'Mi intención es completar parte de los contenidos': '7',                    
                   'Mi intención es completar todos los ejercicios': '8', 
                   'Mi intención es completar parte de los ejercicios': '9'}

In [36]:
df_surveys.replace(vals_to_replace, inplace=True)

In [37]:
vals_to_replace

{'Muy cierto para mí': '5',
 'Bastante cierto para mí': '4',
 'Algo cierto para mí': '3',
 'Poco cierto para mí': '2',
 'Nada cierto para mí': '1',
 'Mi intención es completar todos los contenidos': '6',
 'Mi intención es completar parte de los contenidos': '7',
 'Mi intención es completar todos los ejercicios': '8',
 'Mi intención es completar parte de los ejercicios': '9'}

In [38]:
df_surveys.head(2)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,user_id_lms
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,c6efa71905cf5c65622a44f8f70d4f330f6227af
1,2,1,4,4,4,3,4,3,1,3,...,2,5,4,1,3,1,1,6,8,671482c4bcbe300a72985d1b3ddaf8449191a7e7

In [39]:
## Merging to final log
df_final = df_final.reset_index().merge(df_surveys, left_on='ucchile_user_id', right_on='user_id_lms', how='outer', copy=False)

In [40]:
df_final.fillna(0, inplace=True)

In [41]:
df_final.drop(columns='user_id_lms', inplace=True)
df_final.set_index('ucchile_user_id', inplace=True)

In [42]:
df_final.head(2)

,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,lectures_no_interacted,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
ucchile_user_id,,,,,,,,,,,,,,,,,,,,,
50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,43,...,0,0,0,0,0,0,0,0,0,0
04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,45,...,0,0,0,0,0,0,0,0,0,0

### Adding NMP Info

#### In NMP

In [43]:
df_users.head(2)

,lms_user_id,email,gender,level_education,country,locale
user_id,,,,,,
113,894867802d42b3aad77d37d532590348fa79803e,tveliz2710@gmail.com,Female,bachelor,CL,en
117,cfc3e5ee8fdc91d1d6d410afb37e5f3d794f5c80,catalina.matus.b@gmail.com,Female,bachelor,CL,en

In [44]:
df_final = df_final.reset_index().merge(df_users.reset_index(), left_on='ucchile_user_id', right_on='lms_user_id', how='outer', copy=False)
df_final['in_nmp'] = df_final.index.isin(df_users.lms_user_id)
df_final.in_nmp.replace({False: 0, True: 1}, inplace=True)
df_final.drop(columns=['email', 'locale'], inplace=True)
df_final.fillna(0, inplace=True)
df_final.drop(columns='lms_user_id', inplace=True)

In [45]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Q23,Q24,Q25,Q26,Q27,user_id,gender,level_education,country,in_nmp
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0,0,0,0,0,0.0,0,0,0,0
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0,0,0,0,0,0.0,0,0,0,0

#### Adding Notes NMP

In [46]:
# Adding Notes
df_notes.head(2)

         frequency
user_id
295              8
288              8

In [47]:
df_final = df_final.merge(df_notes, left_on='user_id', right_on='user_id', how='outer', copy=False)
df_final.rename(columns={'frequency': 'nmp_number_notes'}, inplace=True)

In [48]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Q24,Q25,Q26,Q27,user_id,gender,level_education,country,in_nmp,nmp_number_notes
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0,0,0,0,0.0,0,0,0,0,NaN
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0,0,0,0,0.0,0,0,0,0,NaN

#### Adding Goals

In [49]:
df_goals.head(2)

,number_goals,average_goal_hours,average_goal_videos,average_goal_evaluations
user_id,,,,
160,3,2.666667,5,1.666667
288,1,2.000000,5,3.000000

In [50]:
df_final = df_final.merge(df_goals, left_on='user_id', right_on='user_id', how='outer', copy=False)
df_final.rename(columns={'number_goals': 'nmp_number_goals'}, inplace=True)

df_final.drop(columns=['average_goal_hours', 'average_goal_videos', 'average_goal_evaluations'], inplace=True)

In [51]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Q25,Q26,Q27,user_id,gender,level_education,country,in_nmp,nmp_number_notes,nmp_number_goals
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0,0,0,0.0,0,0,0,0,NaN,NaN
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0,0,0,0.0,0,0,0,0,NaN,NaN

#### Adding Interactions

In [52]:
df_interactions.head(2)

         interactions
user_id
113.0               4
117.0               5

In [53]:
df_final = df_final.merge(df_interactions, left_on='user_id', right_on='user_id', how='outer', copy=False)
df_final.rename(columns={'interactions': 'nmp_number_interactions', 'user_id': 'nmp_user_id'}, inplace=True)

In [54]:
df_final.fillna(0, inplace=True)

In [55]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Q26,Q27,nmp_user_id,gender,level_education,country,in_nmp,nmp_number_notes,nmp_number_goals,nmp_number_interactions
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0,0,0.0,0,0,0,0,0.0,0.0,0.0
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0,0,0.0,0,0,0,0,0.0,0.0,0.0

#### Adding Specific Interactions

In [56]:
# Adding Buttons
df_final = df_final.merge(df_buttons, left_on='nmp_user_id', right_on='user_id', how='outer', copy=False)
df_final.fillna(0, inplace=True)

In [57]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Button_DownloadNote,Button_EditNote,Button_Effectiveness,Button_EngagementPerformance,Button_FilterTime30Days,Button_FilterTime7Days,Button_FilterTimeViewAll,Button_FilterViewAll,Button_NewNote,Button_SearchNote
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
# Adding Graphs
df_final = df_final.merge(df_graphs, left_on='nmp_user_id', right_on='user_id', how='outer', copy=False)
df_final.fillna(0, inplace=True)

In [59]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Button_Effectiveness,Button_EngagementPerformance,Button_FilterTime30Days,Button_FilterTime7Days,Button_FilterTimeViewAll,Button_FilterViewAll,Button_NewNote,Button_SearchNote,Graph_EngagementByTypeActivities,Graph_TimeUseOnCourse
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
# Adding Menus
df_final = df_final.merge(df_menus, left_on='nmp_user_id', right_on='user_id', how='outer', copy=False)
df_final.fillna(0, inplace=True)

In [61]:
df_final.head(2)

,ucchile_user_id,course_name,course_weeks,passable_items,course_passing_state,course_passed_items,course_grade,percentage_passed_items,lectures_completed,lectures_started,...,Button_FilterTime7Days,Button_FilterTimeViewAll,Button_FilterViewAll,Button_NewNote,Button_SearchNote,Graph_EngagementByTypeActivities,Graph_TimeUseOnCourse,Menu_ChooseCourse,Menu_GoalSetting,Menu_ViewNotes
0,50b8ef616b6fd14f856e8c8dc628a777d2eb5c6a,aula-constructivista,10.0,11.0,0.0,0.0,0.000000,0.000000,4,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,04b08e572b73bbb4cd1af664191794ed09283a93,aula-constructivista,10.0,11.0,0.0,1.0,0.062563,0.090909,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Export Data

In [62]:
df_final.set_index('ucchile_user_id').to_csv('../data/generico/' + course_name + '/df_generico_' + course_name + '.csv')